div{
    height: 250px;
    background-color: rgb(255, 28, 66);
}
span{
    color: rgba(80, 0, 80, 0.945);
    font-size: 75px;
}
p{
    color: rgb(235, 91, 8);
    text-shadow: 4px 4px 6px black;
    font-size: 50px;
}
h1{
    text-align-last: cewfdenter;
}
